.game-setting {
  // display: none;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 6vh;
  width: 100vw;
  height: 95vh;
  background-color: var(--black-color-07);
  opacity: 1;
  visibility: visible;
  transition: opacity 300ms var(--default-cubic), visibility 300ms var(--default-cubic);

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 50%;
    height: 75%;
    margin-top: 7.5%;
    background-color: var(--light-def-color-07);
    border-radius: 0.7vw;
    border-bottom: solid 2px var(--dark-color);
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7em;

    &__title {
      color: var(--white-color);
      font-family: 'Xdevilix';
      font-size: 3em;
    }

    &__label {

      &-text {
        color: var(--white-color-07);
        font-family: 'Xdevilix';
        font-size: 1.5em;
        text-transform: uppercase;
        padding-left: 0.4vw;

        &-span {
          position: absolute;
          font-size: 0.7em;
        }
      }
    }

    &__input,
    &__select {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 15vw;
      height: 2.6em;
      background-color: var(--dark-color);
      padding: 0px 0.7vw;
      color: var(--white-color);
      font-family: 'Xdevilix';
      border-radius: 1vh;
      border: none;
      font-size: 1.5em;
      appearance: none;

      &::placeholder {
        color: var(--white-color-07);
        font-family: 'Xdevilix';
        font-size: 1.5em;
        position: relative;
        top: 0.4vh;
      }

      &:active,
      &:focus {
        outline: solid 1px var(--second-light-color);
      }
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 13vw;
      height: 2.6em;
      cursor: pointer;
      text-decoration: none;
      position: absolute;
      bottom: 5vh;
      display: inline-block;
      width: 20vw;
      height: 10vh;
      overflow: hidden;
      border: 2px solid;
      border-bottom-width: 4px;
      border-radius: 1.5vh;
      font-family: "Xdevilix";
      font-size: 4vh;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: var(--dark-def-color);
      background-color: var(--black-color);
      transition: color 0.3s var(--default-cubic), background 0.5s var(--default-cubic);

      &:hover {
        animation: stripes 0.75s infinite linear;
        background: linear-gradient(45deg,
            var(--dark-def-color) 25%,
            var(--black-color) 25%,
            var(--black-color) 50%,
            var(--dark-def-color) 50%,
            var(--dark-def-color) 75%,
            var(--black-color) 75%,
            var(--black-color));
        background-size: 10px 10px;
        color: var(--second-light-color);
      }


      @keyframes stripes {
        0% {
          background-position: 0 0;
        }

        100% {
          background-position: 50px 0;
        }
      }

    }
  }
}
