<section class="game-setting hidden">
  <div class="game-setting__container container">
    <form action="#" class="form setting__form" onsubmit="return false">
      <h2 class="form__title">Game Setting</h2>
      <label class="form__label">
        <p class="form__label-text">Number of cards <span class="form__label-text-span">(max: 14)</span></p>
        <input type="number" max="14" min="2" name="Имя" class="input-reset form__input form__input-number" value="14">
      </label>
      <label class="form__label">
        <p class="form__label-text">difficult</p>
        <select class="form__select" name="form__select">
          <option value="1">easy</option>
          <option value="2">normal</option>
          <option value="3">Hard</option>
        </select>
      </label>
      <button class="btn-reset form__btn">Start</button>
    </form>
  </div>
</section>
