// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white-color: #fff;
  --white-color-07: rgba(255, 255, 255, 0.775);
  --black-color: #202020;
  --black-color-07: #2121217c;
  --light-color: #A173FF;
  --light-def-color: #7E40FF;
  --light-def-color-07: #7c40ffcf;
  --default-color: #5500ff;
  --dark-color: #3600A6;
  --dark-def-color: #5F30BF;
  --second-color: #853E03;
  --second-light-color: #FFE540;

  --default-cubic: cubic-bezier(.48,.38,.58,.91);
}
